<footer>
  by
  <a class="by" href="https://chriscoyier.net">Chris Coyier</a>
  <br />
  <a href="https://github.com/chriscoyier/smashburgers-in-bend">Open Source</a>
</footer>

<style lang="scss">
  footer {
    background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 0.5) 70%);
    text-align: center;
    position: relative;
    padding-block: 4rem 2rem;
  }

  .by {
    text-decoration: none;
    font-variation-settings: "wdth" 160;
    font-size: var(--font-size-lg);
    margin-block-end: 0.5rem;
    display: inline-block;
  }
</style>
