<footer>
  To try list:

  <ul>
    <li><a href="https://www.bendinspoon.com/carryout-menu">CHOW</a></li>
    <li>
      <a href="https://juniperpreserve.com/dine/trailhead-grill/"
        >Trailhead Grill</a
      >
    </li>
    <li><a href="https://www.alleydogzfoodcart.com/menu">Alley Dogz</a></li>
  </ul>

  <br />

  <a class="by" href="https://chriscoyier.net">Chris Coyier</a>
</footer>

<style lang="scss">
  footer {
    background: linear-gradient(to bottom, transparent, rgb(0 0 0 / 0.5) 70%);
    text-align: center;
    position: relative;
    padding-block: 3rem;
    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline;
        font-family: system-ui, sans-serif;
        &:not(:last-child)::after {
          content: ", ";
        }
      }
    }
  }

  .by {
    display: inline-block; // inline block
    margin-block-start: 1rem;
    text-decoration: none;
    font-variation-settings: "wdth" 160;
    font-size: var(--font-size-lg);
  }
</style>
