---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Your options for smashburgers in Bend, Oregon"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍔</text></svg>"
    />

    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />

    <ViewTransitions />
  </head>

  <body>
    <div class="site-wrap">
      <slot />
      <Footer />
    </div>

    <style is:global>
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }
      html {
        font-family: system-ui, sans-serif;

        background-color: #2d2020;
        color: white;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Cpath id='a' fill='none' stroke='%23363633' stroke-width='5' stroke-opacity='.5' d='M0 13.7c0 0 20.7-7.4 74-1s18.7 0.7 81.3-6.5c53.9-6.2 44.7 15.7 75 6.9c44.4-12.9 74.1-6.2 97.9 0.6c20.2 5.8 67.4 9.1 107.4-8.1c10.5-4.5 41.9 15.9 95.3 5c27.7-5.7 80.8-13.8 118-5c32.1 7.6 67.9-15.8 101.2 0c41.6 19.7 67.8-4.6 93.9 8.1c26.4 12.8 60.1 2.7 75.2-4.6c31-14.9 64.8 9.1 77.8 3c14.5-6.8 56.5-6.5 108.5 1.6s83.5 4.8 97.7-2.2c17.5-8.7 82.2-11.5 104-5.2c38.9 11.3 80.9-9 99.6 1.9c31.7 18.4 76.2 0.5 78.5 0.1c15.7-2.8 54 5.2 69.7 1.6c10.1-2.3 45.8-10.4 59.1-4.3c38.8 18.1 55.4-5.5 68.8 0c25.1 10.3 47.4-4.4 59.1 0c34.6 13.2 83.1 13.8 109 0c27.6-14.7 65.6 10.6 81.3 8.1c33.5-5.3 44.3-8.3 61-8.1c16.7 0.2 35.1 8.6 58.1 8.1c28.2 0.2 42.6-9.8 87.2-3.2s55.4 7.5 119.5 3.2s67.6 3.3 104.3-4.4c34.5-7.3 89.2-6.7 98.2 2.3s74 1 95-4s72.1 16.3 89 2c26.5-22.4 64.6 12.2 84.4 1.3c20-11 63.7 4.1 75.4 0.1c59.1-20.2 61.7 24.4 104.5-1.5c34.6-20.8 67.2 11.1 86.7 4.2c19.8-7 91.3 4.5 104.9 0c54.4-18.2 42.3 8.6 107.3 0c17.2-2.3 68.7-13.2 85.1-8.1c35.6 11.3 48.9 10.2 81.3 6.2c34.3-4.2 57.3-6.8 74.3 1.2c37.3 17.5 76.4-2.7 96.6-7.4c28.2-6.7 51 1.2 85.4 5.7c44.8 5.9 119.2-10.5 144.8-3.4c27.4 7.6 37.9 16.9 59.8 5c22.2-12.1 77.7 0.5 93.3-2c33.5-5.3 53.5 7 70.1-2.3s55.8 6.2 64.3 4.8c77.3-12.3 58.2 6.9 108.6 0.2c29.5-3.9 86.2-17.8 113.3 0c18.3 12 86.3-6.1 104.7-7.6s28.6 2.9 52.5 7.6c13.7 2.7 36.3-5.7 49.9-8.1c15.7-2.8 34.9 11.4 50.5 7.8c10.1-2.3 29.9 4.9 41.6 0.2c15.9-6.3 36.7-11.9 53.5-8.1c13.6 3.1 39-2.3 52.5 3.3c25.1 10.3 57.3-5.3 68.9-0.9c34.6 13.2 56.2-1.6 83.2 3.7c15.8 3.1 40.5 4.4 56.2 2c33.5-5.3 102.1-6.3 102.1-6.3'/%3E%3Cuse id='b' href='%23a' transform='translate(5000 20) rotate(180)'/%3E%3Cg id='c'%3E%3Cuse href='%23a' transform='translate(-10 0)'/%3E%3Cuse href='%23b' transform='translate(-10 30)'/%3E%3Cuse href='%23a' transform='translate(-2790 60)'/%3E%3Cuse href='%23b' transform='translate(-2690 90)'/%3E%3Cuse href='%23b' transform='translate(-1000 120)'/%3E%3Cuse href='%23a' transform='translate(-1000 150)'/%3E%3Cuse href='%23b' transform='translate(-1600 180)'/%3E%3Cuse href='%23a' transform='translate(-1900 210)'/%3E%3Cuse href='%23a' transform='translate(-900 240)'/%3E%3Cuse href='%23b' transform='translate(-2200 270)'/%3E%3Cuse href='%23b' transform='translate(-2990 300)'/%3E%3C/g%3E%3Cpattern id='p' width='2000' height='600' patternUnits='userSpaceOnUse'%3E%3Cuse href='%23c' transform='translate(0 0) rotate(0)'/%3E%3Cuse href='%23c' transform='translate(2000 650) rotate(180)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23p)' width='100%25' height='100%25' /%3E%3C/svg%3E");
        background-attachment: fixed;
        background-size: cover;

        --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
        --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
        --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
        --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
        --font-size-xxxl: clamp(3rem, 3.5vw + 2rem, 5rem);
        line-height: 1.5;

        hanging-punctuation: first last;
      }
      body {
        margin: 0;
      }
      .site-wrap {
        height: 100dvh;
        display: grid;
        grid-template-rows: 1fr auto;
      }

      img {
        display: block;
        max-width: 100%;
        height: auto;
      }

      a {
        color: inherit;
      }

      blockquote {
        font-style: italic;
        :first-child::before {
          content: open-quote;
        }
        :last-child::after {
          content: close-quote;
        }
      }

      p,
      li,
      dt,
      dd,
      blockquote {
        font-family: "Lora", serif;
        text-wrap: pretty;
      }
    </style>
  </body>
</html>
